@model PersonalSite.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Message Confirmation";
}
@section titleheader{Thank You}
<div id="fh5co-services" class="fh5co-bg-section animate-box">
    <div class="container">
        <h3 id="thanks">Thank you for your message.  I will get back to you as soon as possible.</h3>

        <div id="confirmationcontent">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Subject)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Subject)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Message)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Message)
                </dd>

            </dl>
        </div>
        </div>
    </div>
